<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up page</title>
</head>
<body>
    <h1>Create a new account</h1>

    <form action="/auth/sign-up" method="POST">

        Username:
        <input type="text" name="username"/>
        <br/>

        Password:
        <input type="password" name="password"/>
        <br/>

        Confirm Password:
        <input type="password" name="confirmPassword"/>
        <br/>

        <button type="submit">Sign Up</button>

    </form>
    
</body>
</html>