<%- include('./partials/nav') %>

    <h1>Edit <%= foundFruit.name %></h1>

    <form action="/fruits/<%= foundFruit._id %>?_method=PUT" method="post">
         Name:
        <input type="text" id="name" name="name" value="<%= foundFruit.name %>"/>
        <br/>

        <div class="checkbox-div">
            Ready to eat?
            <% if (foundFruit.isReadyToEat === true){ %>
                <input type="checkbox" id="isReadyToEat" name="isReadyToEat" checked/>
            <% } else { %>
                <input type="checkbox" id="isReadyToEat" name="isReadyToEat"/>
            <% } %>
            
        </div>
        <br/>

        <button type="submit">Update fruit</button>
    </form>
</body>
</html>