<%- include('./partials/nav') %>

    <h1>All Fruits</h1>
    <ul>
        <% allFruits.forEach((item) => { %>
            <a href="/fruits/<%= item._id  %>">
                <li><%= item.name %></li>
                <li><%= item._id %></li>
            </a>
        <% }) %>
    </ul>

</body>
</html>